@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the selectbox section */
.selectbox__section {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    transition: all 0.3s ease-in-out;
}

/* Style the buttons that are used to open and close the selectbox panel */
.selectbox {
    background-color: #34343d;
    color: var(--sage-green);
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease, border-radius 1s ease;
    border-radius: 20px;
    width: 15em;
    height: 3em;
}

.selectbox p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.selectbox:hover,
.active {
    background-color: #34343d;
}

.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Style the selectbox content title */
.selectbox__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

/* Style the selectbox chevron icon */
.selectbox__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
    transform: rotate(90deg);
}

/* Style the selectbox content panel. Note: hidden by default */
.selectbox__content {
    background-color: #50505c;
    transition: max-height 0.6s ease, border-radius 1s ease;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: hidden;
    
}

/* Style the selectbox content text */
.selectbox__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}

.inner-select-content {
    padding: 0px 18px;
}

.prof-item {
    cursor: pointer;
    background-color: #50505c;
    transition: background-color 0.6s ease;
    padding: 5px 0px;
    text-align: center;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prof-item:hover {
    background-color: #747481;
    filter: brightness(1.1);
}

.dropdown {
    padding: 0;
    max-width: 10em;
}
