@media all and (min-width: 480px) {

    .mv3 {
        padding-left: 100px;
        font-size: xx-large;
    }

    .user {
        margin-left: 100px;
    }

    .email {
        margin-left: 150px;
    }

    .pointerbutton {
        align-items: center;
    }

    .pointermr2button {
        margin-left: 100px;
    }

    .ProfLogin {
        padding: 60px 0;
    }

    .ProfLogin form {
        margin: 0 auto;
        max-width: 320px;
    }
}